{{ define "main" -}}
<div class="post">
  <h1 class="title">{{ .Title }}</h1>
  {{ with .Params.tagline }}<span class="tagline">{{ . }}</span>{{ end }}

  {{ if ne .Type "page" -}}
  {{- end }}

  <div>
  {{ .Content }}
  </div>

  {{ partial "tags.html" . }}

  {{ if (and (ne .Params.DisableShare true) (ne .Params.disable_share true)) -}}
  
  {{- end }}

  {{ if (and .Site.Config.Services.Disqus.Shortname (ne .Params.DisableComments true) (ne .Params.disable_comments true)) -}}
  <div class="comments">
    <h2>Comments</h2>
    {{ template "_internal/disqus.html" . }}
  </div>
  {{- end }}
</div>
{{- end }}
