{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": {{ (.Site.BaseURL | printf "%s#author") | jsonify }},
      "name": {{ .Site.Params.author | jsonify }},
      "image": {
        "@type": "ImageObject",
        {{ with .Site.Params.gravatar -}}
        "url": {{ (md5 . | printf "https://www.gravatar.com/avatar/%s?s=400&d=mp") | jsonify }}
        {{- else }}
        {{ with .Site.Params.profilePicture -}}
        "url": {{ (. | absURL) | jsonify }}
        {{ end -}}
        {{ end }}
      }
      {{- with .Site.Params.description -}}
      ,"description": {{ . | jsonify }}
      {{- end }}
    },
    {
      "@type": "WebSite",
      "@id": {{ (.Site.BaseURL | printf "%s#website") | jsonify }},
      "url": {{ .Site.BaseURL | jsonify }},
      "name": {{ .Site.Title | jsonify }},
      {{- with .Site.Params.description }}
      "description": {{ . | jsonify }},
      {{- end }}
      "publisher": {
        "@id": {{ ($.Site.BaseURL | printf "%s#author") | jsonify }}
      },
      "inLanguage": {{ .Site.LanguageCode | jsonify }}
    },
    {{- with .Site.Params.images -}}
    {{- range . }}
    {
      "@type": "ImageObject",
      "url": {{ (. | absURL) | jsonify }},
      "caption": {{ $.Site.Title | jsonify }}
    },
    {{- end }}
    {{- end }}
    {
      "@type": "WebPage",
      "@id": {{ (.Permalink | printf "%s#webpage") | jsonify }},
      "url": {{ .Permalink | jsonify }},
      "name": {{ .Title | jsonify }},
      "isPartOf": {
        "@id": {{ (.Site.BaseURL | printf "%s#website") | jsonify }}
      },
      "about": {
         "@id": {{ (.Site.BaseURL | printf "%s#author") | jsonify }}
      },
      {{- if not .PublishDate.IsZero }}
      "datePublished": {{ (.PublishDate.Format $ISO8601) | jsonify }},
      {{- end }}
      {{- if not .Lastmod.IsZero }}
      "dateModified": {{ (.Lastmod.Format $ISO8601) | jsonify }},
      {{- end }}
      "description": {{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end | jsonify }},
      "inLanguage": {{ .Site.LanguageCode | jsonify }},
      "potentialAction": [
        {
          "@type": "ReadAction",
          "target": [
            {{ .Permalink | jsonify }}
          ]
        }
      ]
    }{{ if .IsPage }},
    {
      "@type": "Article",
      "isPartOf": {
        "@id": {{ (.Permalink | printf "%s#webpage") | jsonify }}
      },
      "mainEntityOfPage": {
        "@id": {{ (.Permalink | printf "%s#webpage") | jsonify }}
      },
      "headline": {{ .Title | jsonify }},
      {{- with .Params.images }}
      "image": [
        {{- range $idx, $url := . -}}
        {{- if $idx -}},{{- end }}
        {{ ($url | absURL) | jsonify }}
        {{- end }}
      ],
      {{- end }}
      {{- if not .PublishDate.IsZero }}
      "datePublished": {{ (.PublishDate.Format $ISO8601) | jsonify }},
      {{- end }}
      {{- if not .Lastmod.IsZero }}
      "dateModified": {{ (.Lastmod.Format $ISO8601) | jsonify }},
      {{- end }}
      "publisher": {
        "@id": {{ (.Site.BaseURL | printf "%s#author") | jsonify }}
      },
      "keywords": [
      {{- if isset .Params "tags" -}}
      {{- range $idx, $cat := .Params.tags -}}
        {{- with $.Site.GetPage "tags" -}}
        {{- with .GetPage $cat -}}
        {{- if $idx -}},{{- end }}
        {{ .Title | jsonify }}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- end }}
      ],
      "articleSection": [
      {{- if isset .Params "categories" -}}
      {{- range $idx, $cat := .Params.categories -}}
        {{- with $.Site.GetPage "categories" -}}
        {{- with .GetPage $cat -}}
        {{- if $idx -}},{{- end }}
        {{ .Title | jsonify }}
        {{- end -}}
        {{- end -}}
      {{- end -}}
      {{- end }}
      ],
      "inLanguage": {{ .Site.LanguageCode | jsonify }},
      "author": {
        "@type": "Person",
        "name": {{ .Params.author | jsonify }}
      },
      "potentialAction": [
        {
          "@type": "CommentAction",
          "name": "Comment",
          "target": [
            {{ (.Permalink | printf "%s#comments") | jsonify }}
          ]
        }
      ]
    }{{ end }}
  ]
}
</script>